.header {
    text-align: center;
    margin: 20px;
    font-weight: 500;
}

mat-card {
    margin:50px auto;
    width: 100%;
    max-width: 400px;
}

.form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #f9f9f9;
}

.full-width {
    width: 100%;
}

.actions {
    margin: 15px;
    text-align: center;
}

.actions button {
    margin: 0 5px;
}

